{% extends "_base.html" %}


{% block head %}
<title>Lettings</title>
{% endblock head %}


{% block nav %}
<div class="button"><a href="{% url 'home:index' %}">Home</a></div>
<div class="button"><a href="{% url 'profiles:index' %}">Profiles</a></div>

{% endblock nav %}

{% block content %}
<h1 class="title">Lettings</h1>
{% if lettings_list %}
    <ul>
    {% for letting in lettings_list %}
        <li>
            <a href="{% url 'lettings:letting' letting_id=letting.id %}">
                {{ letting.title }}
            </a>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No lettings are available.</p>
{% endif %}
{% endblock content %}